// Fonts
$font-title: "Playfair Display", serif;
$font-body: "Source Sans Pro", sans-serif;

// Colors
$white: #f7f7f7;
$light-grey: #dadada;
$dark-grey: #333333;

$light-blue: #cce1ff;
$light-green: #b2dfdb;
$light-red: #f8bbd0;
$light-yellow: #fff9c4;

$dark-blue: #0047ab;
$dark-green: #00a99d;
$dark-red: #f50057;
$dark-yellow: #ffd600;

// Breakpoints
$desktop-small: 1023px;
$desktop-medium: 1439px;
$desktop-large: 1919px;

$mobile-medium: 413px;
$mobile-large: 767px;
